@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root{
  --main-color:#004499;
  --main-color-dark:#03244A;
  --cinza-light:#bbbbbb;
  --cinza-escuro:#908F8F;
  --text-color:#FFFF;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #d6d6d6;
  min-height: 100vh;
}

#root{
  display: flex;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--main-color);
  width: 16rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #03244A;
  border-radius: 1rem;
}


.sidebar-top {
  display: flex;
  justify-content: center;
}

.sidebar-top__logo {
  width: 10rem;
  margin: 1rem 0rem;
}

.sidebar__item {
  display: flex;
}

.sidebar__icons{
  margin-right: 1.2rem;
  height: 27px;
  width: 27px;
}

.sidebar__icons--account{
  margin-left: -0.1rem;
  margin-right: 1.2rem;
  height: 40px;
  width: 40px;
}

.sidebar__icons--logout{
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
}

.sidebar__text { 
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.sidebar__text--link { 
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  margin: 1.25rem 0.75rem;
  padding: 1.25rem 0.75rem;
  transition: background-color 0.4s ease, color 0.4s ease;
  transition: border-radius 0.1s ease, color 0.1s ease;
}

.sidebar__text--link:hover{
  background-color: #03244A;
  border-radius: 1rem;
}

.sidebar__text--account { 
  font-size: 1.5rem;
}

.sidebar__text--logout { 
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.sidebar-end{
  display: flex;
  margin: 2.5rem 1.5rem;
}

.sidebar-end__button{
  text-decoration: none;
  color: #fff;
  display: flex;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

.sidebar-end__button:hover{
  color: var(--main-color-dark);
}

@media (max-width: 1366px){
  .sidebar__text--link {
    margin: 0.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
  }
}

/* Main Container */

.main{
  flex: 1;
  padding: 2rem;
  color: #1f2027;
  display: flex;
  flex-direction: column;
}

/* Home */

/* Cardapio */
.cardapio__add-btn {
  background-color: var(--cinza-light);
  display: flex;
  justify-content: center;
}

.cardapio__add-btn a {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 1rem;
  padding: 2%;
  font-size: 25px;
  text-decoration: none;
  margin: 3rem;
}

.cardapio__add-btn a:hover{
  background-color: var(--main-color-dark);
}

/* ItemList */
.item-list {
  background-color: var(--cinza-light);
  padding: 1rem;
}

.item-list__container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

/* SingleItem */
.single-item{
  margin: 1rem 0rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-height: 27rem;
  max-width: 15rem;
}

.single-item__img img {
  max-width: 240px;
  max-height: 210px;
  border: 4px solid var(--main-color);
}

.single-item__text{
  color: black;
}

.single-item__edit a{
  text-decoration: none;
  color: var(--main-color);
}

.single-item__edit a:hover{
  text-decoration: underline;
  color: var(--main-color);
}

.single-item__delete button{
  text-decoration: none;
  color: red;
  background-color: var(--cinza-light);
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 1rem;
}

.single-item__delete button:hover{
  text-decoration: underline;
  color: red;
}

.single-item__ativo-btn button {
  color: var(--main-color);
  border: none;
  background-color: var(--cinza-light);
  cursor: pointer;
  font-size: 30px;
}

.single-item__ativo-btn button:hover {
  color: var(--main-color-dark);
}

/* Modal Confirm Delete*/
.modal__bkground {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 16rem;
  padding: 10000%;
}

.modal-confirm-delete{
  display: flex;
  position: fixed;
  z-index: 1;
  top: 33%;
  background-color: var(--main-color);
  border: 0.5rem solid var(--main-color-dark);
  left: 25rem;
  text-align: center;
  justify-content: center;
  color: #fff;
  padding: 2rem;
  max-width: 50rem;
  min-width: 50rem;
}

/*Resolução 1920x1080*/
@media (min-width: 1920px){
  .modal-confirm-delete{
    left: 41rem;
    padding:4rem 5rem;
  }
}

.modal-confirm-delete__sim-btn{
  border: 0.2rem solid rgb(0, 73, 0);
  background-color: green;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 2rem;
}

.modal-confirm-delete__nao-btn{
  border: 0.2rem solid rgb(185, 0, 0);
  background-color: red;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.modal-confirm-delete__sim-btn:hover{
  background-color:  rgb(0, 73, 0);
}

.modal-confirm-delete__nao-btn:hover{
  background-color: rgb(185, 0, 0);
}

/* Item Form */
.item-form {
  background-color: var(--cinza-light);
  padding: 1rem;
  height: 90vh;
}

.item-form form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.item-form label {
  margin-top: 0.5rem;
}

.item-form input, .item-form textarea, .item-form select {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: black;
}

#fotoURL {
  padding: 0;
}

.item-form__btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.item-form__btn {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding: 2% 7%;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

.item-form__btn a{
  color: white;
  text-decoration: none;
}

.item-form__btn:hover{
  background-color: var(--main-color-dark);
}

/* Success Modal */
.success-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 33%;
  background-color: var(--main-color);
  border: 0.5rem solid var(--main-color-dark);
  left: 25rem;
  color: #fff;
  padding: 2rem;
  max-width: 50rem;
  min-width: 50rem;
}

/*Resolução 1920 x 1080*/
@media (min-width: 1920px){
  .success-modal{
    left: 41rem;
    padding:4rem 5rem;
  }
}

.success-modal button {
  color: white;
  border: none;
  background-color: var(--main-color-dark);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
}

.success-modal button:hover{
  border: 4px solid white;
  padding: 0.25rem 3rem;
}

/*Form login*/
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #167499;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23167499'/%3E%3Cstop offset='1' stop-color='%23004499'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23216399' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23216399' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23216399' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23216399' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.login-form img {
  margin-top: -1.3rem;
}

.login__back-btn{
  text-decoration: none;
  color: white;
  margin-left: -70%;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.login__back-btn:hover{
  color: var(--main-color-dark);
}

.login-form img{
  margin-bottom: 1rem;
}

.login-form h2{
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.9rem;
  color: #FFF;

}

.login-form__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
}

.login-form__input{
  margin: -1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 4px solid var(--main-color-dark);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-form__input:focus{
  border: 4px solid #011124;
}

.login-form__cadastro-link{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: black;
  background-color: #FFF;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.login-form__cadastro-link:hover{
  background-color: var(--cinza-light);
}

.login-form__btn{
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  background-color: white;
}

.login-form__btn:hover{
  background-color: var(--cinza-light);
}

/*Cadastro*/
.cadastro-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #167499;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23167499'/%3E%3Cstop offset='1' stop-color='%23004499'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23216399' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23216399' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23216399' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23216399' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.cadastro-form img{
  margin-top: 3%;
  width: 12rem;
}

.cadastro-form h2{
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #FFF;
}

.cadastro-form p{
  color: #FFF;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.cadastro-form__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

.cadastro-form__input{
  margin: -1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 4px solid var(--main-color-dark);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cadastro-form__input:focus{
  border: 4px solid #011124;
}

.cadastro-form__input--checkbox-div{
  display: flex;
  font-size: 1.2rem;
  margin-top: -1rem;
  color: white;
}

.cadastro-form__input--checkbox-div label{
  margin-top: 0.2rem;
}

.cadastro-form__input--checkbox-div button{
  border: none;
  background-color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
}

.cadastro-form__input--checkbox-div button:hover{
  border: none;
  background-color: #00327e;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.cadastro-form__input--checkbox{
  margin-right: 0.5rem;
  height: rem;
  width: 1.3rem;
}

.cadastro-form__btn{
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  border-radius: 1rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  background-color: white;
}

.cadastro-form__link-login{
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  font-size: 1.2rem;
  margin-top: -0.7rem;
}

.cadastro-form__link-login:hover{
  text-decoration: underline;
}

.cadastro__modal-termos{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  top: 2rem;
  left: 14%;
  height: 90vh;
  width: 150vh;
  border: 50px solid var(--main-color-dark);
}

.cadastro__modal-termos p {
  color: black;
  margin-top: 1rem;
  font-size: 1rem;
}

.cadastro__modal-termos button {
  border: none;
  font-size: 1.5rem;
  margin-left: 106%;
  margin-top: -1.7rem;
  background-color: var(--main-color-dark);
  color: white;
  cursor: pointer;
}

.cadastro__modal-termos h3{
  font-size: 2rem;
}

.modal__bkground-termos{
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
}

.cadastro__success-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  position: fixed;
  width: 40rem;
  height: 10rem;
  top: 30%;
  left: 27%;
  border: 5px solid var(--main-color-dark);
}

.cadastro__success-modal h1{
  margin-top: 1rem;
  color: white;
}

.cadastro__success-modal a{
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  background-color: #03244A;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
}

.modal__bkground-success{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
}

/* Header Cliente */
.header-cliente {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 1.3em 2em;
  background-color: var(--main-color);
}

.header-cliente__left {
  width: 120px; /* mesma largura aproximada do link, para balancear visualmente */
}

.header-cliente__logo {
  width: 13rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-cliente__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-cliente__link:hover{
  color: var(--main-color-dark);
}

/* Landing Page */
.landing__main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 9rem; 
}

.landing__search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

/* Conteúdo alinhado à direita */
.landing__left-content {
  display: flex;
  justify-content: flex-start;
}

.landing__search-area {
  display: flex;
  border: 4px solid var(--main-color-dark);
  border-radius: 1rem;
}

.landing__search-input {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 30em;
  font-size: 1rem;
  outline: none;
}

.landing__search-input::placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
}

.landing__search-area button {
  border: none;
  border-radius: 1rem;
  left: -1rem;
  color: var(--main-color-dark);
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.landing__titles{
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 1rem 3.5rem 1rem 2rem;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

/* Establishment List */
.establishment-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 1rem; 
  padding: 2rem;
}

@media (max-width: 1024px) {
  .single-establishment__container {
    flex: 0 0 calc(33.333% - 1rem); 
  }
}

@media (max-width: 768px) {
  .single-establishment__container {
    flex: 0 0 calc(50% - 1rem); 
  }
}

@media (max-width: 480px) {
  .single-establishment__container {
    flex: 0 0 100%; 
  }
}

.single-establishment__container {
  flex: 0 0 calc(25% - 1rem); 
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.5s;
}

.single-establishment__container:hover {
  transform: scale(1.05);
  background-color: #bbbbbb;
}

.single-establishment__icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem auto;
}

/* Estabelecimento-page */
.establishment-page__main-container{
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 6rem; 
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.establishment-page__back-btn{
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.5rem;
}

.establishment-page__back-btn:hover{
  color: var(--main-color-dark);
}

.establishment-page__info{
  display: flex; 
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 1rem;
}

.establishment-page__info p{
  font-size: 1.5rem;
}

.establishment-page__info-left{
  max-width: 25rem;
}

.establishment-page__info-right{
  margin-left: 34%;
  margin-top: 3rem;
  text-align: right;
}

.establishment-page__info-star{
  color: yellow;
}


.establishment-page__icon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-top:1.5rem;
}

.establishment-page__titles{
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 1rem 3.5rem 1rem 2rem;
  margin-left: -2rem;
  margin-bottom: 2rem;
  max-width: 15rem;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.establishment-page__cardapio{
  border: 5px solid var(--main-color) ;
  border-radius: 5px;
}

.establishment-page__cardapio-titles{
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 1rem 3.5rem 1rem 2rem;
  margin-left: -1rem;
  margin-top:-1rem;
  max-width: 20rem;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.establishment-page__pedido-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.establishment-page__pedido-adicionar-btn{
  border: none;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: green;
}

.establishment-page__pedido-adicionar-btn:hover{
  text-decoration: underline;
}

.establishment-page__titles--full-width{
  background-color:var(--main-color);
  color: white;
  padding: 1rem ;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.establishment-page__pedido-list{
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.establishment-page__pedido-remove-btn{
  border: none;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: red;
  margin-left: 0.5rem;
}

.establishment-page__pedido-remove-btn:hover{
  text-decoration: underline;
}

.establishment-page__pedido-total{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 15rem;
  margin-bottom: 1.5rem;
}

.establishment-page__criar-pedido-btn{
  background-color: var(--main-color);
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.establishment-page__criar-pedido-btn:hover{
  background-color: var(--main-color-dark);
}

.establishment-page__modal-bkground{
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  padding: 10000%;
}

.establishment-page__success-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 35%;
  background-color: var(--main-color);
  border: 0.5rem solid var(--main-color-dark);
  left: 20rem;
  color: #fff;
  padding: 2rem;
  max-width: 50rem;
  min-width: 50rem;
}

.establishment-page__success-modal button{
  color: white;
  border: none;
  background-color: var(--main-color-dark);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
}

.establishment-page__success-modal button:hover{
  border: 4px solid white;
  padding: 0.25rem 3rem;
}

/* Order-List */
.order-list__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espaço entre os pedidos */
  justify-content: center; /* centraliza as linhas */
  padding: 10px;
}

/* Single-Order */
.single-order__container {
  flex: 0 1 calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* distribui verticalmente */
  height: 100%; /* garante que o pedido use altura total disponível */
  min-height: 250px; /* define altura mínima para uniformidade */
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}

.single-order__labels {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.single-order__itens-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.single-order__itens-list li {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  padding: 4px 0;
}

.single-order__itens-list--qtd {
  text-align: center;
  margin-right: 10px;
}

.single-order__itens-total{
  text-align: center;
  margin-bottom: 5px;
}

.single-order__itens-next-btn{
  background-color: #d3d3d3;
  border: 2px solid var(--cinza-light);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}