@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root{
  --main-color:#004499;
  --main-color-dark:#03244A;
  --cinza-light:#bbbbbb;
  --cinza-escuro:#908F8F;
  --text-color:#FFFF;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--main-color);
  width: 16rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar__text {
  color: var(--text-color);
}

.sidebar-top {
  display: flex;
  justify-content: center;
}

.sidebar-top__logo {
  width: 10rem;
}

.sidebar__item {
  display: flex;
  margin: 1.5rem;
}

.sidebar__text { 
  display: flex;
  align-items: center;
  text-decoration: none;
}
