@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root{
  --main-color:#004499;
  --main-color-dark:#03244A;
  --cinza-light:#bbbbbb;
  --cinza-escuro:#908F8F;
  --text-color:#FFFF;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #d6d6d6;
  min-height: 100vh;
}

#root{
  display: flex;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--main-color);
  width: 16rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #03244A;
  border-radius: 1rem;
}


.sidebar-top {
  display: flex;
  justify-content: center;
}

.sidebar-top__logo {
  width: 10rem;
  margin: 1rem 0rem;
}

.sidebar__item {
  display: flex;
}

.sidebar__icons{
  margin-right: 1.2rem;
  height: 27px;
  width: 27px;
}

.sidebar__icons--account{
  margin-left: -0.1rem;
  margin-right: 1.2rem;
  height: 40px;
  width: 40px;
}

.sidebar__icons--logout{
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
}

.sidebar__text { 
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.sidebar__text--link { 
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  margin: 1.25rem 0.75rem;
  padding: 1.25rem 0.75rem;
  transition: background-color 0.4s ease, color 0.4s ease;
  transition: border-radius 0.1s ease, color 0.1s ease;
}

.sidebar__text--link:hover{
  background-color: #03244A;
  border-radius: 1rem;
}

.sidebar__text--account { 
  font-size: 1.5rem;
}

.sidebar__text--logout { 
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.sidebar-end{
  display: flex;
  margin: 2.5rem 1.5rem;
}

.sidebar-end__button{
  text-decoration: none;
  color: #fff;
  display: flex;
}

.sidebar-end__button:hover{
  color: var(--main-color-dark);
}

@media (max-width: 1366px){
  .sidebar__text--link {
    margin: 0.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
  }
}

/* Main Container */

.main{
  flex: 1;
  padding: 2rem;
  color: #1f2027;
  display: flex;
  flex-direction: column;
}

/* Home */
